---
---

@import "{{ site.theme }}";
header {
  display: none !important;
}
.btn {
  display: none !important;
}


.image-container {
  position: relative;
  width: 50%;
}

.image {
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0,0,0,0.5); /* Optional: dark overlay */
}

.image-container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.portfolio-image {
    max-width: 50%;
    max-height: 50%;
    /* height: auto; */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.portfolio-badge {
    max-width: 10%;
    max-height: 10%;
    /* height: auto; */
    display: block;
    margin-left: auto;
    margin-right: auto;
}
